{% extends 'base.html' %}

{% block content %}
<style>
    #center{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        padding: 80px;
        
    }
    body{
        background-image: linear-gradient(to right, #870000, #190a05);    #center2{
        padding: 100px;
    }
    #center2{
        box-shadow: 10px 5px 20px;
        border-radius: 100px 200px;
        
    }
</style>

<div>
    
        <div id="center" class="">
            <div style="background-image: linear-gradient(to right, #434343 0%, black 100%)";    
            class="" id="center2">
                <h4 class="text-white"><span class="text-danger fs-1">R</span>egister</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{form.username}}
                    </div>
                    <div class="mb-3">
                        {{form.password1}}
                    </div>
                    <div class="mb-3">
                        {{form.password2}}
                    </div>
                    <div class="row">
                        <input type="submit" value="Register" class="btn  btn-success">
                    </div>
                </form>
            </div>
        </div>
    
</div>

{% endblock content %}